@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Open+Sans:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #556575; */
}

:root {
  --primary-color: #425466;
  --blue-color: #4c6fff;
}

body {
  color: #1a1a1a;
}

body::-webkit-scrollbar {
  display: none;
}

.active {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  color: #ef2c5a !important;
  font-weight: 600 !important;
}

.appliation_view {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 13px;
  margin-bottom: 1rem;
}

.appliation_view div {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #e1e8ff;
  color: var(--blue-color);
}

/* OVERLAY */

.overlay {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.overlay.overlay_active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
}

.right {
  transform: translateX(120%);
  /* right: 0; */
  transition: transform 300ms ease-out;
}

.mobilenav-listview {
  height: 100vh;
  overflow-y: auto;
}

.mobilenav-listview::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.mobilenav-listview {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

@media (min-width: 768px) and (max-width: 1114px) {
  .left {
    transform: translateX(60%);
    transition: transform 300ms ease-out;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .left {
    transform: translateX(30%);
    transition: transform 300ms ease-out;
  }
}

.dropdown_icon {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.dropdown_icon:hover {
  transform: translateY(-2px);
}
